.login{
    margin-right: .5rem;
}

.footer{
    background-color: lightblue;
    padding-top: 2rem;
}

.leftFooterLinks{
    padding-right: 5rem;
}

.signUpForm{
    width:500px 
}

.buttonCol{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.submitBtn {
    margin-top: 1rem;
}